.App {
  width: 100%;
}
footer {
  background-color: #fafafa;
  padding: 25px 0;
  padding-left: 12.5%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
